<!DOCTYPE html>
<html lang="en">
{include file='public/head'}
<body>
<div id="f-toolbar">
    <form action="{:url('pet_type/find_by_keyword')}" method="post" enctype="multipart/form-data">
        <input type="text" name="keyword">
        <button type="submit" class="btn btn-primary">搜索</button>
    </form>
    <a href="{:url('pet_type/add_view')}" type="button" class="btn btn-primary">新增</a>
</div>
<div id="pt-showall" class="table-responsive">
    <table class="table">
        <tr>
            <th>id</th>
            <th>类型名称</th>
            <th>操作</th>
        </tr>
        {volist name='list' id='vo'}
        <tr>
            <td>{$vo.id}</td>
            <td>{$vo.pet_type_name}</td>
            <td>
                <a href="{:url('pet_type/update')}?id={$vo.id}" type="button" class="btn btn-danger">编辑</a>
                <a href="{:url('pet_type/delete_by_id')}?id={$vo.id}" type="button" class="btn btn-danger">删除</a>
            </td>
        </tr>
        {/volist}
    </table>
    {$list->render()}

</div>
</body>
</html>