<!DOCTYPE html>
<html lang="en">
{include file="public/head"}
<body>
<div id="f-toolbar">
    <a href="{:url('pet/pet_view')}" type="button" class="btn btn-default">返回列表</a>
    <input class="btn btn-primary" form="pet-insert-form" type="submit" value="添加">
    <input class="btn btn-primary" form="pet-insert-form" type="reset" value="重置">
</div>
<div id="p-insert">
    <form id="pet-insert-form" action="{:url('pet/insert')}" method="post" enctype="multipart/form-data">
        <table class="insert table table-bordered">
            <tr>
                <th colspan="2">添加一只宠物</th>
            </tr>
            <tr>
                <td>宠物类型：</td>
                <td>
                    <select name="pet_type">
                        {volist name='pet_type_list' id='vo'}
                        <option value="{$vo.id}" {$data.pet_type == $vo.id ? 'selected':''}>{$vo.pet_type_name}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr>
                <td>宠物名：</td>
                <td><input type="text" name="pet_name" required/></td>
            </tr>

            <tr>
                <td>性别：</td>
                <td><select name="sex">
                    <option value="0">公</option>
                    <option value="1">母</option>
                </select></td>
            </tr>
            <tr>
                <td>年龄：</td>
                <td><input type="number" name="age" required/>（单位：月）</td>
            </tr>
            <tr>
                <td>主人：</td>
                <td><input type="text" name="master"/></td>
            </tr>
            <tr>
                <td>是否健康：</td>
                <td><select name="is_health">
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select></td>
            </tr>
            <tr>
                <td>是否出售</td>
                <td><select name="is_onsale">
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select></td>
            </tr>
            <tr>
                <td>是否配种</td>
                <td><select name="is_mating">
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select></td>
            </tr>
            <tr>
                <td>图片：</td>
                <td>
                    <div class="upload-preview"></div>
                    <input class="upload-photo" type="file" name="photo"/>
                </td>
            </tr>
        </table>
        <div id="pet_intro">
            <hr>
            <h4>简介：</h4>

            <!-- 加载编辑器的容器 -->
            <script id="container" name="introduction" type="text/plain">

            </script>

            <!-- 配置文件 -->
            <script type="text/javascript" src="/phpdemo/psms/public/ueditor/ueditor.config.js"></script>
            <!-- 编辑器源码文件 -->
            <script type="text/javascript" src="/phpdemo/psms/public/ueditor/ueditor.all.js"></script>
            <!-- 实例化编辑器 -->
            <script type="text/javascript">
                var editor = UE.getEditor('container',{
                    initialFrameWidth:700,
                    initialFrameHeight:600,
                });
            </script>
        </div>
    </form>
</div>
</body>
</html>