<head>
    {load href="/phpdemo/psms/public/static/js/jquery-3.1.1.min.js"/}
    {load href="/phpdemo/psms/public/static/js/psms.js"/}
    {load href="/phpdemo/psms/public/static/css/main.css"/}
    {load href="/phpdemo/psms/public/static/bootstrap/css/bootstrap.min.css"}
    {load href="/phpdemo/psms/public/static/bootstrap/js/bootstrap.min.js"}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <title>宠物店管理系统</title>
</head>