<!DOCTYPE html>
<html lang="en">
{include file='public/head'}
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>权限列表</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a class="btn btn-primary navbar-btn" href="{:url('access/add_view')}">新增</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>id</th>
                        <th>权限标题</th>
                        <th>url（连接）</th>
                        <th>操作</th>
                    </tr>
                    {volist name="a_list" id="list"}
                    <tr>
                        <td>{$list.id}</td>
                        <td>{$list.title}</td>
                        <td>{$list.uris}</td>
                        <td>
                            <a id="access-edit-a" class="btn btn-primary" href="{:url('access/edit_view')}?id={$list.id}">修改</a>
                            <a id="access-delete-a" class="btn btn-danger" href="{:url('access/delete_by_id')}?id={$list.id}">删除</a>
                            <!--<a class="btn btn-primary" href="">设置权限</a>-->
                        </td>
                    </tr>
                    {/volist}
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>